@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}



body {
  background-color: #08070b;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
}

.align-center {
  align-items: center;
}

li {
  list-style: none;
}

.mt10 {
  margin-top: 10px;
}

.mt4 {
  margin-top: 40px;
}

.mb2 {
  margin-bottom: 20px;
}

input,
textarea {
  outline: none;
}

.App {
  height: 100vh;
  flex-flow: column;
  display: flex;
}

.page-container {
  flex: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.page-container h5 {
  font-size: 24px;
  letter-spacing: 2px;
}

.user-name {
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 60px;
}

.user-profile {
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: 16px;
  padding-top: 8px;
  line-height: 1.8;
  text-align: justify;
}

.user-image {
  width: 250px;
  height: 250px;
  border: 8px solid #424242;
  border-radius: 100%;
  overflow: hidden;
  flex: none;
}

.user-image img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.container {
  max-width: 900px;
  width: 100%;
}


.home {
  width: 250px;
}

.career-container {
  height: 100vh;
  justify-content: center;
  display: flex;
}

.career-heading {
  font-size: 50px;
  background-image: linear-gradient(135deg, #84ffff 0%, #b388ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}

.career-desc {
  line-height: 2;
  overflow-wrap: break-word;
}

.work-experience-title {
  margin-top: 80px;
}

.work-experience-list-container {
  margin-top: 40px;
  padding-left: 10px;

}

.work-experience-list-container a {
  color: #eeeeee;
}

.profile-title {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
}

.company-location {
  margin-left: 10px;
  color: grey;
}

.company-location::before {
  content: " • ";
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container input,
textarea {
  padding: 10px;
  background-color: #4a4a4a;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #212121;
  flex: 1;
  color: white;
  margin: 10px 0;
}

.form-container input::placeholder {
  color: white;
}

.form-container textarea::placeholder {
  color: white;
}

.name-email-container {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}
.name-email-container > div{
  width: calc(50% - 8px);
}
.name-email-container input{
  width: 100%;
}
.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}


.tech-stack-container li {
  display: flex;
  width: calc(50% - 40px);
  padding: 20px;
  cursor: pointer;
  column-gap: 32px;

}

.tech-stack-label div {
  font-size: 24px;
  font-weight: 600;

}

.tech-stack-container svg {
  width: 40px;
  height: 40px;
}

.tech-stack-label span {
  font-size: 16px;
  color: #9e9e9e;
}

.tech-stack-container li:hover {
  background: #212121;
  color: #9e9e9e;
  border-radius: 4px;

}

.form-container button {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #212121;
  margin: 10px;
  cursor: pointer;
}

.send-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.about p {
  line-height: 2;
}


.work-experience-list-container>li {
  padding: 30px;
  background: #1f1f1f;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 16px 32px hsla(0, 0%, 7%, .2);

}

.work-experience-list-container ul li {
  padding: 10px 0;
  list-style: disc;
  margin-left: 12px;
}

.user-details a {
  background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%);
  text-decoration: none;
  padding: 14px 26px;
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}

.user-details a svg {
  font-size: 24px;
  margin-left: 10px;
  vertical-align: middle;

}

.footer {
  position: fixed;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
}

.footer-container {
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.footer-container a {
  color: #fff;
  background: #6b7280;
  padding: 10px 20px 10px 11px;
  ;
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

.footer-container a div {
  /* display: none; */
  overflow: hidden;
  width: 0;
}

.footer-container a svg {
  width: 30px;
  height: 30px;
  flex: none;
}

.footer-container a:hover div {
  animation: left 2s ease;
  animation-fill-mode: forwards;
}

@keyframes left {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* .footer-container a:hover div{
display: block;
  } */
@media screen and (max-width: 1024px) {
  .header-wrapper {
    flex-wrap: wrap;
    row-gap: 10px;
    top: unset;
    bottom: 0;
    width: 100%;
    transform: unset;
  }

  .footer-container {
    max-width: unset;
    flex-flow: unset;
    background: #0f0f0f;
    width: 100%;
    justify-content: center;
  }

  .footer-container a {
    background: #0f0f0f;
  }

  .footer-container a svg {
    width: 20px;
    height: 20px;
    flex: none;
  }

  .footer-container a div {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .user-container {
    flex-flow: column-reverse;
    height: 100%;
    max-height: 60vh;
    text-align: center;
  }

  .user-name {
    font-size: 46px;
  }

  .page-container {
    margin-bottom: 50px;
  }

  .career-heading {
    font-size: 40px;
  }

  .header-container a {
    padding: 8px 12px;
    font-size: 13px;
  }

  .tech-stack-container li {
    width: 100%;
  }

  .tech-stack-label div {
    font-size: 20px;
    font-weight: 500;
  }

  .tech-stack-label span {
    font-size: 14px;
  }

  .tech-stack-container svg {
    width: 32px;
    height: 32px;
  }

  .user-details {
    text-align: left;
    padding-top: 20px;
  }

  .user-details span {
    font-size: 23px !important;
  }

  .user-profile {
    font-size: 13px;
  }

  .header-container {

    justify-content: center;
  }

  .user-details a {
    padding: 10px 20px;
    margin-top: 22px;
    border-radius: 4px;
    font-size: 18px;


  }
  .name-email-container > div{
    width: 100%;
  }
}